div.rfaudioplayer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
div.rfaudio {
  flex: 0 1 auto;
  padding: 0;
  color: #fff;
  background-color: #000;
}
div.rfaudioimg {
  position: relative;
  float: none;
  padding: 0;
  margin: 0;
}
div.rfaudiostatus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: block;
  padding: 0;
  margin: .5rem;
  color: #fff;
  text-decoration: none;
}
div.rfaudioctl {
  position: relative;
  float: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
div.rfaudioctl audio {
  position: relative;
  float: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
div.rfaudioplaylistwrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 0;
  background-color: #222;
}
div.rfaudioplaylisttop {
  height: 1.5rem;
}
div.rfaudioplaylist {
  padding: .5rem;
  overflow-y: scroll;
  color: #bbb !important;
  background-color: #222;
}
ol.rfaudioplaylist-list {
  display: block;
  padding-left: 2rem;
  margin: 0;
}
li.rfaudioplaylist-item {
  min-height: 2.5rem;
  padding: 0;
  list-style: decimal outside none;
}
li.rfaudioplaylist-start {
  list-style: none;
}
li.rfaudioplaylist-item button {
  padding: 0;
  overflow: hidden;
  color: #bbb !important;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: top;
  user-select: none;
  background: none;
  border: none;
  box-shadow: none;
}
li.rfaudioplaylist-item button:hover,
li.rfaudioplaylist-item button:focus {
  color: #fff !important;
  text-decoration: underline !important;
  cursor: pointer;
}
