div.rfaudio {
	position: relative;
	background-color: #000;
	color: #fff;
	float: left;
	margin: 0 0 9px;
	padding: 0;
	height: 378px;
	width: 500px;
}
div.rfaudioimg {
	position: relative;
	float: none;
	height: 333px;
	width: 500px;
	margin: 0;
	padding: 0;
}
div.rfaudiostatus {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	margin: 9px;
	padding: 0;
	z-index: 9999;
	font-family: var(--body-font-family);
	font-size: 13px;
	text-decoration: none;
	color: #fff;
}
div.rfaudioctl {
	position: relative;
	float: none;
	height: 45px;
	width: 500px;
	font-family: var(--body-font-family);
	font-size: 13px;
	line-height: 13px;
	margin: 0;
	padding: 0;
}
div.rfaudioctl audio {
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: 45px;
	width: 500px;
	border: 0;
	margin: 0;
	padding: 0;
}
div.rfaudioplaylist {
	background-color: #222;
	float: none;
	display: block;
	overflow: auto;
	margin: 0 0 9px;
	padding: 0;
}
div.rfaudioplaylist {
	height: 378px;
	width: 320px;
}
div.rfaudioplaylist ul {
	margin: 10px 0 0 15px;
	padding: 0;
}
div.rfaudioplaylist li {
	list-style: none outside none;
	height: 30px;
	margin: 0;
	padding: 0;
}
div.rfaudioplaylist li a {
	font-family: var(--body-font-family);
	font-size: 13px;
	text-decoration: none;
	color: #bbb !important;
}
div.rfaudioplaylist li a:hover,
div.rfaudioplaylist li a:focus {
	cursor: pointer;
	color: #fff !important;
	text-decoration: underline !important;
}
@media (max-width: 919px) {
	div.rfaudio {
		margin: 0;
	}
	div.rfaudioplaylist {
		height: 189px;
		width: 500px;
		display: inline-block;
	}
}
@media (max-width: 559px) {
	div.rfaudio {
		height: auto;
		width: 100%;
		margin: 0;
	}
	div.rfaudioimg {
		height: auto;
		width: 100%;
	}
	div.rfaudioctl {
		width: 100%;
	}
	div.rfaudio img {
		height: auto;
		width: 100%;
	}
	div.rfaudio audio {
		width: 100%;
	}
	div.rfaudioplaylist {
		height: 189px;
		width: 100%;
		display: inline-block;
	}
}
@media (max-width: 419px) {
	div.rfaudioplaylist ul {
		margin: 8px 0 0 12px;
		padding: 0;
	}
	div.rfaudioplaylist li {
		height: 24px;
	}
	div.rfaudioplaylist li a {
		font-size: 10px;
	}
}
